<div class="col-12">
  <div class="icon"></div>
  <div class="text d-flex">
    <button
      class="btn"
      (click)="todo.status === false ? markTodo(todo.id) : unmarkTodo(todo.id)"
    >
      <i
        class="fa fa-check text-success"
        aria-hidden="true"
        *ngIf="todo.status"
      ></i>
      <i
        class="fa fa-square text-danger"
        aria-hidden="true"
        *ngIf="!todo.status"
      ></i>
    </button>
    <p
      [ngClass]="
        todo.status === true
          ? 'text-success text-decoration-line-through'
          : 'text-danger '
      "
      class="my-auto"
    >
      {{ todo.newTodo }}
    </p>
  </div>
</div>
