.profile {
  border: 2px solid green;
  //   height: 4rem;
  //   width: 4rem;
  background: url("../../../assets/Profile.jpg") center fixed;
}
.profile-pic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
