<div class="container-fluid">
  <h4>Todo App</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="card">
        <div class="card-image-top">
          <img src="assets/Profile.jpg" alt="" width="25" />
          <p>Good Morning Madi</p>
        </div>

        <div class="card-body">
          <div class="tasks-remaining">
            <p>4 tasks Remaining</p>
          </div>

          <div class="add-form">
            <app-add-todo (todoToAdd)="addTodo($event)"></app-add-todo>
            <div class="container">
              <div class="row">
                <div class="col-12" *ngFor="let task of tasks">
                  <app-todos [todo]="task"></app-todos>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
