<div class="container-fluid bg-danger p-4">
  <h4 class="text-white display-4">Todo App</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 mx-auto">
      <div class="card">
        <!-- <img class="profile-pic" src="../../../assets/Profile.jpg" /> -->
        <div class="mt-2 text-center">
          <h4 class="lead">Good Morning Madi</h4>
        </div>

        <div class="card-body">
          <div class="tasks-remaining">
            <p class="text-center">{{ totalTasks }} tasks Remaining</p>
          </div>
          <div class="add-form">
            <app-add-todo (todoToAdd)="addTodo($event)"></app-add-todo>
            <div class="container">
              <div class="row" *ngIf="tasks.length !== 0">
                <div class="col-12" *ngFor="let task of tasks">
                  <app-todos [todo]="task"></app-todos>
                </div>
              </div>
              <p *ngIf="tasks.length === 0" class="text-center">0 Todos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
